<!DOCTYPE html>
<html lang="es">
<head>
  <title>Acceso Denegado</title>
<meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/seteo.css">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/menu.css">
  <link rel="stylesheet" type="text/css" href="css/accordion.css">
  <link rel="stylesheet" type="text/css" href="css/acceso_denegado.css">
  <link rel="stylesheet" type="text/css" href="css/footerlogin.css">
  <link rel="stylesheet" type="text/css" href="css/styles_form.css">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="js/pestana_despegable.js"></script>
</head>
<body>

  <!-- inicia header -->
  <div class="Header__Container">
    <div class="Header__Logo"><img class="Logo" src="img/Pulssar.png"></div>
    <div class="HeaderButton__LoginContainer">
      <a  href="home.html" class="HeaderButton__LoginMenu">
        <img class="IconHeader" src="img/menu_icon.png" alt="icon_menu"/>
        <p>Menú</p>
      </a>
      <a  href="index.html" class="HeaderButton__Login">
        <img class="IconHeader" src="img/logout_icon.png" alt="icon_menu"/>
        <p>Finalizar Atención</p>
      </a>
    </div>
    <div class="Header__RegistrateLogin">
      <div class="Header__ImageContainer">
        <div class="Header__Image">
        <img class="Header__Img" src="img/user_photo.png" alt="user_photo"/>
        </div>
      </div>
      <div class="Header__RegistrateLoginText">
        <p class="Header__RegistrateLoginTitle">Bienvenido</p>
        <p class="Header__Text">Rafael Iván Reyes Vázquez</p>
      </div>
    </div>
  </div>
  <!-- termina header -->

  <!-- inicia menu container -->
  <div class="Menu__Container">
    <div class="Menu__Title">
      Consulta del Trabajador
    </div>
    <div class="Menu__Folio">
      <strong>Folio:</strong>12987690023456
    </div>
  </div>
    <!-- termina menu container -->

  <!-- inicia menu acordion -->
  <div class="accordion js-accordion">
<div class="accordion__item js-accordion-item">
  <div class="accordion-header js-accordion-header">Servicios</div>
<div class="accordion-body js-accordion-body">
    <div class="accordion js-accordion">
      <div class="accordion__item js-accordion-item">
         <div class="accordion-header js-accordion-header">Retíro Parcial</div>
         <div class="accordion-body js-accordion-body">
           <div class="accordion-body__contents">
             <a class="accordion_link" href="ayuda_por_desempleo.html">Ayuda por desempleo</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="ayuda_por_matrimonio">Ayuda por matrimonio</a>
           </div>
         </div>
      </div>
      <div class="accordion__item js-accordion-item">
         <div class="accordion-header js-accordion-header">Retíro Total</div>
         <div class="accordion-body js-accordion-body">
           <div class="accordion-body__contents">
             <a class="accordion_link" href="imss.html">IMSS</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="isste.html">ISSTE</a>
           </div>
         </div>
      </div>
      <div class="accordion__item js-accordion-item">
         <div class="accordion-header js-accordion-header">Administración de la cuenta</div>
         <div class="accordion-body js-accordion-body">
           <div class="accordion-body__contents">
             <a class="accordion_link" href="confirmacion_actualizacion_de_expediente.html">Confirmación / Actualización de Expediente</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="modificacion_de_datos.html">Modificación de Datos</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_link" href="cambio_de_siefore.html">Cambio de SIEFORE</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="constancia_de_retencion_de_impuestos.html">Constancia de Retención de Impuestos</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_link" href="certificado_de_vivienda.html">Certificado de Vivienda</a>
           </div>
         </div>
      </div>
      <div class="accordion__item js-accordion-item">
         <div class="accordion-header js-accordion-header">Aportaciones Voluntarias</div>
         <div class="accordion-body js-accordion-body">
           <div class="accordion-body__contents">
             <a class="accordion_link" href="consulta_de_aportaciones_voluntarias.html">Consulta de Aportaciones Voluntarias</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="retiro_de_aportaciones_voluntarias.html">Retiro de Aportaciones Voluntarias</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_link" href="constancia_de_aportaciones_voluntarias.html">Constancia de Aportaciones Voluntarias</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="clasificacion_de_aportaciones_voluntarias.html">Clasificación de Aportaciones Voluntarias</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_link" href="ficha_para_realizar_aportaciones_voluntarias.html">Ficha para realizar Aportaciones Voluntarias</a>
           </div>
         </div>
      </div>
      <div class="accordion__item js-accordion-item">
         <div class="accordion-header js-accordion-header">Casos Especiales</div>
         <div class="accordion-body js-accordion-body">
           <div class="accordion-body__contents">
             <a class="accordion_link" href="separacion_de_cuentas.html">Separación de Cuentas</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="unificacion_de_cuentas.html">Unificación de Cuentas</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_link" href="traspaso_indebido.html">Traspaso Indebido</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="reenrolamiento.html">Reenrolamiento</a>
           </div>
         </div>
      </div>
      <div class="accordion__item js-accordion-item">
         <div class="accordion-header js-accordion-header">Otros Casos</div>
         <div class="accordion-body js-accordion-body">
           <div class="accordion-body__contents">
             <a class="accordion_link" href="traspaso_sar_92.html">Traspaso SAR 92</a>
           </div>
           <div class="accordion-body__contents">
             <a class="accordion_linksecond" href="constancia_de_implicaciones.html">Constancia de Implicaciones</a>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- termina menu acordion -->

  <!-- inicia seccion acceso denegado -->
  <div class="Container__AccesoDenegado">
    <div class="Columna1" >
      <img class="icon_denied" src="img/icon_denied.png" alt="user_photo"/>
    </div>
    <div class="Columna2">
      <p class="Title">Acceso Denegado</p>
      <p>No se ha podido completar la operación por
      restricciones de seguridad. Contacte por favor
      con su administrador de sistema.</p>
      <br>
      <form action="home.html">
      <input  class="Submit" type="submit" value="Aceptar">
      </form>
    </div>
  </div>
  <!-- termina seccion acceso denegado -->

  <!-- inicia footer -->
  <div class="Footerlogin">
    <div class="Footerlogin__Container">
      <div class="Footerlogin__Section1">
        <p class="Footerlogin__Title">Servicios</p>
        <p><a class="Footerlogin__Link" href="#">Consulta del Trabajador</a></p>
        <p><a class="Footerlogin__Link" href="#">Administración de Folios</a></p>
        <p><a class="Footerlogin__Link" href="#">Validación de imágenes de expediente</a></p>
        <p><a class="Footerlogin__Link" href="#">Retíros</a></p>
     </div>
     <div class="Footerlogin__Section2">
       <p class="Footerlogin__Title">Soporte</p>
     </div>
    </div>
    <div class="Footerlogin__Legacy">
      <a class="Footerlogin__LinkLegacy">Mapa de Sitio</a>
      <a class="Footerlogin__LinkLegacy"> / Aviso de Privacidad</a>
    </div>
  </div>
  <!-- termina footer -->

  <script type="text/javascript" src="js/accordion.js"></script>
</body>
</html>
