/* Modal Window */
.Modal {

    background: var(--b12);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0;
    pointer-events:none;
    transition: all 1s;
    z-index: 22;
    overflow-x: hidden;
    overflow-y: auto;

}

.ModalContainer {

    background-color: white;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

}

.ModalContainerpdf {

    background-color: var(--b08);
    border-radius: 5px;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    top: 10px;
    position: relative;
    z-index: -1;

}

.ModalHeader {

    background: var(--b01);
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: var(--c08);
    font-family: var(--font-SAR);
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);

}

.ModalHeaderLoader {

    background: var(--b01);
    width: 100%;
    padding: 10px;
    font-family: var(--font-SAR);

}

.ModalButtonLoader {

    width: 40px;
    height: 40px;
    margin: 0px auto;
    margin-right: 50px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--c08);
    background: var(--b13);
    border-radius: 3px;

}

.ModalButton {

    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--c08);
    background: var(--b13);
    border-radius: 3px;

}

.ModalButton:hover {

    background: var(--b04);

}

.ModalTitle {

    width: 92%;
    font-size: 21px;
    font-weight: 400;
    text-align: center;

}

.ModalText {

    width: 97%;
    padding: 10px;
    font-family: var(--font-SAR);
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--c06);

}

.Modal__Loader {

  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  margin: 0px auto;
  top: 50px;
  position: relative

}

.Modal__Text {

      width: 90%;
      margin: 0px auto;
      padding: 10px;
      font-family: var(--font-SAR);
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      color: var(--c06);

}

.Modal__TextLeft {

      width: 90%;
      margin: 0px auto;
      padding: 10px;
      font-family: var(--font-SAR);
      font-size: 30px;
      text-transform: uppercase;
      text-align: left;
      color: var(--c06);

}

.Modal__AlertText {

      width: 75%;
      padding: 10px;
      display: inline-block;
      vertical-align: middle;
      font-family: var(--font-SAR);
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      color: var(--c06);

}

.Modal__Alertpdf {

      width: 100%;
      text-align: center;

}


.Modal__AlertTextOk {

      width: 80%;
      padding: 10px;
      font-family: var(--font-SAR);
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      color: var(--b01);

}

.Modal__AlertTextError {

      width: 80%;
      padding: 10px;
      font-family: var(--font-SAR);
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      color: var(--c09);

}

.Modal__Hora {

      width: 90%;
      margin: 0px auto;
      padding: 10px;
      font-family: var(--font-SAR);
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      color: var(--c06);
      display: flex;
      justify-content: center;
      align-items: center;

}

.Modal__IconAlert {

      width: 100px;
      height: auto;
      border-radius: 14px;
      margin-top: 10px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
      background: rgba(199,30,0,1);
      background: -moz-linear-gradient(left, rgba(199,30,0,1) 0%, rgba(255,21,0,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(199,30,0,1)), color-stop(100%, rgba(255,21,0,1)));
      background: -webkit-linear-gradient(left, rgba(199,30,0,1) 0%, rgba(255,21,0,1) 100%);
      background: -o-linear-gradient(left, rgba(199,30,0,1) 0%, rgba(255,21,0,1) 100%);
      background: -ms-linear-gradient(left, rgba(199,30,0,1) 0%, rgba(255,21,0,1) 100%);
      background: linear-gradient(to right, rgba(199,30,0,1) 0%, rgba(255,21,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c71e00', endColorstr='#ff1500', GradientType=1 );

}

.Modal__Interrogacion {

      width: 100px;
      height: auto;
      border-radius: 14px;
      margin-top: 10px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
      background: #12b4e4;

}

.Modal__Admiracion {

      width: 100px;
      height: auto;
      border-radius: 14px;
      margin-top: 10px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
      background: #3d89bf;

}

.Modal__IconAlertOK {

      width: 100px;
      height: auto;
      border-radius: 14px;
      margin-top: 10px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
      background: rgba(210,255,82,1);
      background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
      background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );

}

.Modal__IconAlert01 {

      width: 20%;
      height: auto;
      text-align: center;
      padding: 10px;

}

.Modal_Container {

      display: flex;
      justify-content: center;
      align-items: center;

}


.IconAlert {

      width: 100%;

}

.IconAlert2 {

      width: 50px;

}

.ModalFooter {

      text-align: center;
      width: 100%;
      padding-top: 10px;

}
#miModal:target{

      opacity:1;
      pointer-events:visible;

}

#miModal1:target{

      opacity:1;
      pointer-events:visible;

}

#miModal2:target{

      opacity:1;
      pointer-events:visible;

}

#miModal3:target{

      opacity:1;
      pointer-events:visible;

}

#miModal4:target{

      opacity:1;
      pointer-events:visible;

}

#miModal5:target{

      opacity:1;
      pointer-events:visible;

}

#miModal6:target{
  opacity:1;
  pointer-events:visible;
}

#miModal7:target{
  opacity:1;
  pointer-events:visible;
}
#errorModal:target{
  opacity:1;
  pointer-events:visible;
}

#loginErrorModal:target{
  opacity:1;
  pointer-events:visible;
}

#exitoModal:target{
  opacity:1;
  pointer-events:visible;
}

#infoModal:target{
  opacity:1;
  pointer-events:visible;
}

#miClock:target{
  opacity:1;
  pointer-events:visible;
}

#exitoModalCambio:target{
  opacity:1;
  pointer-events:visible;
}

#exitoModalAceptar:target{
  opacity:1;
  pointer-events:visible;
}

#modalActExp:target{
  opacity:1;
  pointer-events:visible;
}

#modalValidaCorreo:target{
  opacity:1;
  pointer-events:visible;
}

#modalValidaCorreoImpresion:target{
  opacity:1;
  pointer-events:visible;
}

#exitoModalCambioCorreo:target{
  opacity:1;
  pointer-events:visible;
}
#errorValidarMarcaModalArchivo:target{
  opacity:1;
  pointer-events:visible;
}

#infoModalReimpresion:target{
  opacity:1;
  pointer-events:visible;
}
#modalValidaCorreoSaldos:target{
  opacity:1;
  pointer-events:visible;
}
#errorModalReimpresion:target{
  opacity:1;
  pointer-events:visible;
}

#modalLoader:target{
  opacity:1;
  pointer-events:visible;
}

#modalLoaderX:target{
  opacity:1;
  pointer-events:visible;
}

#infoCokies:target{
  opacity:1;
  pointer-events:visible;
}

#confirmacionRegistroTurno:target{
  opacity:1;
  pointer-events:visible;
}

#finalizaTurnoModal:target{
  opacity:1;
  pointer-events:visible;
}

#pendientePorFinalizarModal:target{
  opacity:1;
  pointer-events:visible;
}

#sesionCaduacadaModal:target{
 opacity:1;
 pointer-events:visible;
}

#errorInesperadoModal:target{
 opacity:1;
 pointer-events:visible;
}

#visorDocumentosCarruselModal:target{
 opacity:1;
 pointer-events:visible;
}

#carruselDocumentosModal:target{
 opacity:1;
 pointer-events:visible;
}

#curpFaltante:target{
  opacity:1;
  pointer-events:visible;
}

#modalConfirmacion:target{
  opacity:1;
  pointer-events:visible;
}


#modalConfirmacionPaperless:target{
  opacity:1;
  pointer-events:visible;
}



#modalCorreoElectronico:target{
  opacity:1;
  pointer-events:visible;
}


#modalCancelarPaperless:target{
  opacity:1;
  pointer-events:visible;
}

#modalNoCorreoPaperless:target{
  opacity:1;
  pointer-events:visible;
}


#miModalConsultaPlataforma:target{
  opacity:1;
  pointer-events:visible;
}

#miModalResultadoPlataforma:target{
  opacity:1;
  pointer-events:visible;
}

#miModalResolucion:target{
  opacity:1;
  pointer-events:visible;
}

#miModalOpcionCarga:target{
  opacity:1;
  pointer-events:visible;
}

#resolucionCarga:target{
  opacity:1;
  pointer-events:visible;
}

#modalConsultaCargado:target{
  opacity:1;
  pointer-events:visible;
}

#errorValidarNrpModal:target{
  opacity:1;
  pointer-events:visible;
}

#modalConsultaNrp:target{
  opacity:1;
  pointer-events:visible;
}

#modalConsultarNss:target{
  opacity:1;
  pointer-events:visible;
}

#modalConsultarActuario:target{
  opacity:1;
  pointer-events:visible;
}

#errorValidarNsspModal:target{
  opacity:1;
  pointer-events:visible;
}

#miModalPlanPrivado:target{
  opacity:1;
  pointer-events:visible;
}

#errorValidarNsspModal:target{
  opacity:1;
  pointer-events:visible;
}

#modalerrorProcesos:target{
  opacity:1;
  pointer-events:visible;
}

#miModalFechaNac:target{
  opacity:1;
  pointer-events:visible;
}

#modalCapturaNrp:target{
  opacity:1;
  pointer-events:visible;
}

#errorValidarMarcaModal:target{
  opacity:1;
  pointer-events:visible;
}

#modalIcefasTrabajador:target{
  opacity:1;
  pointer-events:visible;
}

#modalConDerechoImss:target{
  opacity:1;
  pointer-events:visible;
}

#modalSinDerechoImss:target{
  opacity:1;
  pointer-events:visible;
}

#modalNoHayDerechoAceptado:target{
  opacity:1;
  pointer-events:visible;
}

#miOpcionSiefores:target{
  opacity:1;
  pointer-events:visible;
}

#modalAdicionarBeneficiario:target{
  opacity:1;
  pointer-events:visible;
}

#modalSolicitud9B:target{
  opacity:1;
  pointer-events:visible;
}

#modalConfirmacion9B:target{
  opacity:1;
  pointer-events:visible;
}

#modalCancelacion9B:target{
  opacity:1;
  pointer-events:visible;
}

#modalAvisoPrivPdf:target{
  opacity:1;
  pointer-events:visible;
}

#errorModalUsuarios:target{
  opacity:1;
  pointer-events:visible;
}

#errorModalUser:target{
  opacity:1;
  pointer-events:visible;
}

#exitoModalAceptarVisor:target{
  opacity:1;
  pointer-events:visible;
}
