/* Estilos Pulsar 07/03/2019 */


.Container {

  width: 100%;
  margin: 0px auto;

}


.Colum1 {

  width: 100%;
  max-width: 600px;
  margin: 0px auto;

}

.Colum2 {

  width: 100%;
  max-width: 700px;
  margin: 0px auto;

}


.Title {

  background: #72BE0B;
  width: auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  padding: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

}


.row_container {

  padding: 10px;
  display: flex;
  flex-wrap: wrap;

}

.Datos_Container {

  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #868983;
  text-transform: uppercase;
  background: #EDEDED;

}

.Datos {

  width: 100%;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #dedede;
  padding: 10px;

}


strong {

  font-weight: bold !important;

}
