/* Estilos Pulsar 07/03/2019 */

.Pestana {

  width: auto;
  position: fixed;
  z-index: 20;
  top: 170px;
  right: 0;

}


.PestanaContainer {

  display: flex;

}


.PestanaTitle {

  width: 15px;
  min-height: 170px;
  height: auto;
  padding: 10px;
  writing-mode: vertical-lr;
  -ms-writing-mode:bt-rl;
  transform: rotate(180deg);
  background: #558E06;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  border-radius: 0px 5px 5px 0px;

}

.PestanaTitle:hover {

  background: #558E06;

}

.PestanaTableContainer {

  width: 234px;
  min-height: 250px;
  height: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: none;

}

.PestanaTitleContainer {

  padding: 20px 10px 20px 10px;
  background: #747373;
  color: white;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.28);

}

.Row {

  margin-top: 5px;
  padding: 10px;
  background: #F2F2F2;
  color: #898888;
  word-wrap: break-word;

}

.PestanasCarousel {

  max-height: 463px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #bbbbbb;

}
