/* Estilos Pulsar 07/03/2019 */

.Container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  margin-top: 20px;
  background: #EDEDED;
}

.ContainerSaldos {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  background: #EDEDED;
}

.row_container {

  padding: 10px;
  display: flex;
  flex-wrap: wrap;

}

.Title {
  background: #72BE0B;
  width: 98%;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
}

.Datos_Container {

  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #868983;
  text-transform: uppercase;
  background: #EDEDED;

}

.Colum1 {

  width: 40%;
  margin: 20px;

}

.Colum2 {

  width: 40%;
  margin: 20px;

}

.Datos {

  width: 235px;
  width: 100%;
  line-height: 20px;
  word-wrap: break-word;
  margin-left: 5px;
  margin-bottom: 5px;
  height: auto;

}

.Datos_Error {

  color: red;

}