/* Estilos Pulsar 07/03/2019 */


.Title__Container {

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #4C8804;

}
